<!-- 1.Conditional Rendering -->
<!-- Event Binding -->
<!-- Looping thing -->
<!-- <h1>Hiii</h1>
<!-- To use [(ngModel)] we need to import {FormsModule} from '@angular/forms'; in app.module.ts->

<h1>{{title}}</h1>
<p *ngIf="count >5">I am visible</p>
<p>{{count}}</p>
<button (click)="decrement()">Decrrease Count</button>
<br>
<br>
<br>
<button (click)="increment()">Increment Count</button>


<li *ngFor="let i of list">{{i}}</li>
<p>Names-:</p>
<li *ngFor="let n of names">{{n}}</li>
 Taking user Input -->
<!-- <br>
<label for="input1">Enter Something....</label>
<br>
<input type="text" id="input1" [(ngModel)]="number1">
<input type="text" id="input1" [(ngModel)]="number2">
<button (click)="sumMe()">Add</button>
<p>The Addition Result is-:{{num3}}</p>  -->
<!-- Component selectorname -->
<app-random></app-random>
<br>
<br>
<!-- Random Jokes -->
<app-random-jokes></app-random-jokes>
<!-- Random Dog Image -->
<app-dog-image></app-dog-image>
